name: Deploy to Production

on:
    push:
        branches: ["main"]

jobs:
    deploy: 
        runs-on: self-hosted
        steps:
          - name: Checkout repository
            uses: actions/checkout@v4

          - name: Deploy
            run: echo "Deploy running on self-hosted VM!"